  /*全局样式*/
  body{
    margin:0;
    padding:0;
    text-decoration: none;
    /*overflow:hidden;*/
    background:#eee;
    }
  /*头部背景图样式*/
	.title1{
		width:100%;
		height:360px;
		background:rgba(255,255,255,1);
		z-index:0;
		background-repeat:no-repeat ;
		background-size:100% 100%;
		position: relative;
    /*处理子元素上边距溢出*/
    overflow:hidden;
	}
   /*头部标题样式*/
  /*头部内容样式*/
	.title2{
		width:94.66%;
		height:360px;
		margin-top:-85px;
		margin-left:2.66%;
		margin-bottom:20px;
		background:rgba(255,255,255,1);
		box-shadow:3px 3px 29px 0px rgba(68,68,68,0.21);
		border-radius:8px;
		/*background:blue;*/
		position: relative;
    /*处理子元素上边距溢出
    overflow:hidden;*/
	}
  /*头部内容子元素*/
    /*头部内容标题*/
    .title2_title{
      height:27px;
      font-size:28px;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(40,40,40,1);
      position:absolute;
      margin-top:34px;
      margin-left:40%;
    }
	
    /*头部内容子元素内容*/
      /*代码优化*/
        /*子元素左边样式*/
        .title2_1_1{
          height:20px;
          font-size:20px;
          font-family:PingFang-SC-Regular;
          font-weight:400;
          color:rgba(137,137,137,1);
        }
        /*子元素右边样式*/
        .title2_1_2{
          height:22px;
          font-size:22px;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(40,40,40,1);
        }
          /*子元素定位*/
          .title2>span{
            position:absolute;
          }
         /**左侧定位*/
        /*第一条子元素容器定位*/
       .title2_1{
          margin-top:90px;
          margin-left:2.93%;
        }
        
        /*第二条子元素容器定位*/
       .title2_2{
          margin-top:126px;
          margin-left:2.93%;
        }
        
        /*第三条子元素容器定位*/
       .title2_3{
          margin-top:163px;
          margin-left:2.93%;
        }
        
        /*第四条子元素容器定位*/
       .title2_4{
          margin-top:199px;
          margin-left:2.93%;
        }
        
        /*第五条子元素容器定位*/
       .title2_5{
          margin-top:236px;
          margin-left:2.93%;
        }
        
        /*第六条子元素容器定位*/
       .title2_6{
          margin-top:273px;
          margin-left:2.93%;
        }
         /**右侧定位*/
        /*第七条子元素容器定位*/
       .title2_7{
          margin-top:90px;
          margin-left:40%;
        }
        /*第八条子元素容器定位*/
       .title2_8{
          margin-top:126px;
          margin-left:40%;
        }
        /*第九条子元素容器定位*/
       .title2_9{
          margin-top:163px;
          margin-left:40%;
        }  
  /*分页按钮样式*/
	.My_nav_all{
		width:100%;
		height:88px;
		margin-top:37px;
		display: flex;
		justify-content: space-between;
		position: relative;
    text-align: center;
	}
  /*每个按钮样式*/
	.My_nav{
		width:24.69%;
		height:88px;
		background-color:#45D9A0;
		color:#B6F0DA;
		font-size:28px;
    line-height:88px;
		position: relative;
    border-radius: 0;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    /*text-overflow:none;*/
	}
  
  /*按钮激活样式*/
  .My_activate{  
    color:#fff;
    border-bottom:2px solid #fff;
  }
  /*分页（产地）样式*/
  /*企业资料样式*/
	.chan_di_1{
		width:100%;
		height:226px;
		background:rgba(255,255,255,1);		
		position: relative;
    /*处理子元素上边距溢出*/
    overflow:hidden;
	}
  /*企业资料*/
  .chan_di_1_1{
    width:96px;
    height:23px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(40,40,40,1);
    position:absolute;
    margin-top:28px;
    margin-left:2.66%;
  }
   /*企业图片*/
  .chan_di_1_2{
    width:16%;
    height:120px;
    border-radius:50%;
    position: absolute;
    margin-top:71px;
    margin-left:2.66%;
     box-shadow:1px 2px 3px 2px #ccc ;
  }
   /*企业信息*/
  .chan_di_1_3{
    width:66.66%;
    height:87px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(152,152,152,1);
    position: absolute;
    margin-top:89px;
    margin-left:27.06%;
    
  }
   /*企业详细信息样式*/
   .chan_di_1_3_1_1{
    width:7.33%;
    height:23px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(152,152,152,1);
   }
   .chan_di_1_3_1_2{
    width:31.46%;
    height:23px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(104,104,104,1);

   }
    /*企业详细信息定位*/
   .chan_di_1_3_1{
     position: absolute;
    margin-top:0px;
    
   }
   .chan_di_1_3_2{
     position: absolute;
    margin-top:32px;
  
   
   }
   .chan_di_1_3_3{
     position: absolute;
    margin-top:60px;
   
    
   }
  /*资质证书样式*/
	.chan_di_2{
		width:100%;
		height:272px;
		background:rgba(255,255,255,1);
		background:#fff;
		position: relative;
    /*处理子元素上边距溢出*/
    overflow:hidden;
	}
  /*证书标题*/
  .chan_di_2_1{
    width:12.53%;
    height:23px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(40,40,40,1);
    position: relative;
    margin-top:19px;
    margin-left:2.66%;
    margin-bottom:1px;
  }
  /*证书图片*/
  .chan_di_2_2{
    width:21.46%;
    height:220px;
    background:#ddd;
    position:absolute;
    margin-top:20px;
    margin-left:2.66%;
  }
  .chan_di_2_3{
    width:21.46%;
    height:220px;
    background:#ddd;
    position:absolute;
    margin-top:20px;
    margin-left:27.06%;
  }
  .chan_di_2_4{
    width:21.46%;
    height:220px;
    background:#ddd;
    position:absolute;
    margin-top:20px;
    margin-left:51.33%;
  }
  .chan_di_2_5{
    width:21.46%;
    height:220px;
    background:#ddd;
    position:absolute;
    margin-top:20px;
    margin-left:75.73%;
  }
  /*生长过程样式*/
   /*除草样式*/
	.chan_di_3{
		width:100%;
		height:272px;
		background:rgba(255,255,255,1);
		
		position: relative;
    /*处理子元素上边距溢出*/
    overflow:hidden;
	}
    /*除草标题*/
  .chan_di_3_0{
    height:23px;
    line-height:23px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(40,40,40,1);
    position:relative;
    margin-top:19px;
    margin-left:2.66%;
  }  
    /*第一次除草*/
  .chan_di_3_1_1{
    width:21.33%;
    height:40px;
    background:rgba(69,217,160,1);
    border-radius:8px 0px 0px 8px;
    position:absolute;
    margin-top:19px;
    margin-left:2.66%;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height:40px;
  }  
   /*第二次除草*/
  .chan_di_3_1_2{
    width:21.33%;
    height:40px;
    background:rgba(232,232,232,1);
    border-radius:0px 8px 8px 0px;
    position:absolute;
    margin-top:19px;
    margin-left:22.8%;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(152,152,152,1);
    text-align: center;
    line-height:40px;
  }
   /*除草详情*/
   .chan_di_3_2{
    width:94.93%;
    height:124px;
    border:1px solid rgba(224,224,224,1);
    border-radius:6px;
    position:absolute;
    margin-top:81px;
    margin-left:2.66%;
   }
   /*表格模块*/
.tr{
  width:100%;
  display:flex;
  justify-content:space-between;
}
.td1,.td2,.td3{
  border-bottom:1px solid #dadada;
  border-right:1px solid #dadada;
  height:62px;
  line-height: 62px;
  /*内容超出不换行*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.td1{
  width:22%;
  text-align: center;
  font-size:24px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(152,152,152,1);
}
.td2,.td3{
  border-bottom:1px solid #dadada;
  border-right:1px solid #dadada;
  font-size:24px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(40,40,40,1);
  padding-left:7.2%;
}
.td2{
  width:28%;
}
.td3{
  width:88%;
}
   /*除草日期*/
   .chan_di_3_3{
    height:23px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(152,152,152,1);
    
    margin-top:229px;
    margin-right:2.66%;
    float:right;
   }
   /*除虫样式
	.chan_di_4{
		width:100%;
		height:272px;
		background:rgba(255,255,255,1);
		background:blue;
		position: relative;
    /*处理子元素上边距溢出*
    overflow:hidden;
	}
  
   /*施肥样式*
	.chan_di_5{
		width:100%;
		height:272px;
		background:rgba(255,255,255,1);
		background:yellow;
		position: relative;
    /*处理子元素上边距溢出*
    overflow:hidden;
	}
   /*采摘样式*
	.chan_di_6{
		width:100%;
		height:272px;
		background:rgba(255,255,255,1);
		background:red;
		position: relative;
    /*处理子元素上边距溢出*
    overflow:hidden;
	}
  */
   /*周边环境样式*/
   .chan_di_4_0{
    
    height:23px;
    line-height:23px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(40,40,40,1);
    position:absolute;
    margin-top:30px;
    margin-left:2.66%;
   }
	.chan_di_4{
		width:100%;
		height:590px;
		background:rgba(255,255,255,1);
		position: relative;
    /*处理子元素上边距溢出*/
    /*border-top:1px solid #fff;*/
    overflow:hidden;    
	}
   /*调试样式*/
	.chan_di_4_1{
		width:25.2%;
    height:416px;
    background:#555;
    position:absolute;
    margin-top:119px;
    margin-left:0;
	}
  .chan_di_4_2{
		width:44.4%;
    height:453px;
    background:#555;
    position:absolute;
    margin-top:97px;
    margin-left:27.87%;
	}
  .chan_di_4_3{
		width:25.2%;
    height:416px;
    background:#555;
    position:absolute;
    margin-top:119px;
    margin-left:74.93%;
	}


  


/*表单模块开始位置*/
   /*表单全局样式*/
	.My_Tab{
		width:100%;
		height:270px;
		background:rgba(255,255,255,1);
		position: relative;
    /*处理子元素上边距溢出*/
    overflow:hidden;
	}
    /*表单标题样式*/
  .My_Tab_nav{
    width:100%;
    height:40px;
    position:absolute;
    margin-top:19px;
    margin-left:2.66%;
  }  
    /*表单nav通用样式*/
   .My_tab_nav_all{
    width:21.33%;
    height:40px;
    background:rgba(232,232,232,1);
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;  
    text-align: center;
    line-height:40px;
    float:left;
    margin-right:0.67%;
    /*内容超出不换行*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   } 
    /*表单nav激活样式*/
  .My_tab_nav_activate{
    color:rgba(255,255,255,1);
    background:rgba(69,217,160,1);  
  }
   /*表单表格样式*/
   .tab_content{
    width:94.93%;
    height:124px;
    border-top:1px solid rgba(224,224,224,1);
    border-left:1px solid rgba(224,224,224,1);
    border-radius:6px;
    position:absolute;
    margin-top:80px;
    margin-left:2.66%;
   }
   /*表格内容样式*/
  .tr{
    width:100%;
    display:flex;
    justify-content:space-between;
  }
  .td1,.td2,.td3{
    border-bottom:1px solid #dadada;
    border-right:1px solid #dadada;
    height:62px;
    line-height: 62px;
    /*内容超出不换行*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .td1{
    width:22%;
    text-align: center;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(152,152,152,1);
  }
  .td2,.td3{
    border-bottom:1px solid #dadada;
    border-right:1px solid #dadada;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(40,40,40,1);
    padding-left:7.2%;
  }
  .td2{
    width:28%;
  }
  .td3{
    width:88%;
  }
   /*表单日期*/
    .tab_time{
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(152,152,152,1);
    float:right;
    margin-top:24px;
    }
/*表单模块结束位置*/    
  